<div class="col-lg-2 offset-lg-1 d-none d-lg-block">
  <!-- Nav list -->
  <%= render "items/shared/navs", items: items, date: date %>
</div>
<div class="col-lg-6">
  <!-- New item form -->
  <section class="mb-5">
      <%= render "items/shared/form", item: item, date: date %>
  </section>
  <!-- Items list -->
  <section>
    <div id="listContainer"></div>
    <%# render "items/shared/list", items: items, date: date %>
  </section>
</div>

 <%= javascript_pack_tag 'list' %>
