<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Today</h1>
      </div>
    </div>
    <section>
      <%= render "items/shared/form", task: @task %>
    </section>
    <section>
      <div class="row">
        <%= render "items/shared/list", items: @items %>
      </div>
    </section>
  </div>
</section>

