.item-card {
  margin: 3px 0;
}

.item-card-body {
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.item-card-checkbox {
  flex: 0 0 5%;
}

.item-card-title {
  flex: 1 0 auto;
}

.item-card-controls {
  flex: 0 0 10%;
  display: flex;
  justify-content: flex-end;
}
