.item-card {
  margin: 3px 0;
}

.item-card-body {
  display: flex;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.item-card-checkbox {
  flex: 0 0 auto;
}

.item-card-title {
  flex: 1 0 80%;
  p {
    margin-bottom: 0;
    word-break: break-all;
  }
}

.item-card-controls {
  display: flex;
  flex: 0 0 10%;
  justify-content: flex-end;
}
