<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1>Tomorrow</h1>
      </div>
    </div>
    <section>
      <div class="row">
        <%= render "items/shared/form", task: @task %>
      </div>
    </section>
    <section>
      <div class="row">
        <%= render "items/shared/list", items: @items %>
      </div>
    </section>
  </div>
</section>
